.btn-row {
    padding-top: 20px;
}

.player {
    visibility: hidden;
}

.music-thumbnail:hover > span {
    visibility:visible;
}

.thumbnail:hover {
    cursor: pointer;
}

.glyphicon-new-window {
    font-size: 2em;
    padding: 25px;
}

@media (max-width: 600px) {
    nav {
        height: 100px;
    }
    
    body {
        padding-top: 150px;
    }
}

